<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/view/style.css">
</head>

<body>
	<div id="overlay"></div>
	<!-- <canvas></canvas> -->
	<!--<h1><span id="bg"><img src="/view/astro1.png" /> Månehopp <img src="/view/astro2.png" /></span></h1> -->
	<!-- <p id="status"></p> -->
	<div class="jump" id="latest">
		<h1>Siste 5 <img src="/view/clock.png" /></h1>
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>

	<div class="jump" id="top">
		<h1>Topp 5 i dag <img src="/view/medal.png" /></h1>
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/view/main.js"></script>
</body>

</html>
