<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="overlay"></div>
	<canvas></canvas>
	<h1>👩‍🚀 Månehopp 👨‍🚀</h1>
	<!-- <p id="status"></p> -->
	<div class="jump" id="latest">
		<h2>Siste 5 🕒</h2>
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>

	<div class="jump" id="top">
		<h2>Topp 5 🥇</h2>
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="main.js"></script>
</body>

</html>